<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FairDraw">
        <activity
            android:name=".Activities.OrganizerManageEvent"
            android:exported="false" />
        <activity
            android:name=".Activities.EntrantEventDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TestDeepLinkActivity"
            android:exported="false" /> <!-- Router that handles all app deep links -->
        <activity
            android:name=".Activities.DeepLinkRouterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Custom scheme, no hosting needed -->
                <data
                    android:host="open"
                    android:scheme="fairdraw" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EntrantScan"
            android:exported="false" />
        <activity
            android:name=".Activities.EntrantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateEventPage"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganizerMainPage"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EntrantNotificationsActivity" />

    </application>

</manifest>